/* boiler code of css */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

body{
    background-color: bisque;
}

#box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    
}

#box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: brown;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: blue;
}