*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

 body{

    background-color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500px;
}

#header{
    width: 100%;
    height: 60px;
    /*background-color: rgba(57, 57, 224, 0.96); */
    background-color: rgba(255, 34, 0, 0.226);
    display: flex;
    justify-content: center;
    gap: 40px;

}

#logo{
    width: 400px;
    height: 80px;
    padding: 10px;
    margin: 2px;
 /*   background-image: url('https://static.vecteezy.com/system/resources/previews/019/136/322/non_2x/amazon-logo-amazon-icon-free-free-vector.jpg'); */

}

#ele2{
    width: 450px;
    height: 45px;
    background-color: azure;
    margin-top: 7px;
    border-radius: 15%;
}
#search{
font-size: 20px;
color:rgb(147,147, 147);
margin-left: 50px;
margin-top: 6px;

}

#ele3{
    width: 100px;
    height: 40px;
   background-color: white;
    margin-top: 8px;
    color:rgb(224, 57, 85);
    border-radius: 40%;
}
.small{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 25px;
}

#ele4{ 
     width:100px;
    height: 40px;
    font-size: 20px;
    background-color: white; 
    margin-top: 8px;
     color:rgb(224, 57, 85);
        border-radius: 40%;
}

.cart{
    font-size: 14px;
    color:rgb(224, 57, 85);
    margin-top: 11px;
    margin-left: 17px;
}

#ele5{
    display: flex;
    margin-left: 0px;
}

.notifications{
    font-size: 20px;
    color:rgb(165, 138, 42);
    margin-top: 15px;
    margin-left: 0px;
}

#ele6{
    display: flex;
    margin-left: 0px;
}

.Account{
    font-size: 20px;
    color:rgb(69, 42, 165);
    margin-top: 15px;
    margin-left: 0px;
}

#card{
    width: 100%; 
    margin: auto;
    margin-top: 40px;
    border:1px solid rgb(212, 206, 214);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap:10px;
    align-items: flex-start;
    justify-content:space-evenly;
}

p{
    width: 100%;
    font-size: 30px;
    margin-left: 34px;

}

#box1{
    width: 400px;
    height: 200px;
     background-image:url('https://plus.unsplash.com/premium_photo-1668161356342-eccfd350e1cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1119');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}



#box2{
     width: 400px;
    height: 200px;
    background-image:url('https://plus.unsplash.com/premium_photo-1668161356342-eccfd350e1cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1119');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}




#box3{
    width: 400px;
    height: 200px;
    background-image:url('https://plus.unsplash.com/premium_photo-1668161356342-eccfd350e1cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1119');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}




#box4{
     width: 400px;
    height: 200px;
    background-image:url('https://plus.unsplash.com/premium_photo-1668161356342-eccfd350e1cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1119');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}




#box5{
   width: 400px;
    height: 200px;
    background-image:url('https://plus.unsplash.com/premium_photo-1668161356342-eccfd350e1cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1119');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}



#box6{
     width: 400px;
    height: 200px;
    background-image:url('https://plus.unsplash.com/premium_photo-1668161356342-eccfd350e1cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1119');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.Burger{
margin-right: 20px;
}


.egg{
margin-right: 20px;
}

.Samosa{
margin-right: 20px;
}

.pizza{
margin-right: 20px;
}


.Kachori{
margin-right: 20px;
}

.Momos{
margin-right: 20px;
}


.food{
    font-size: 15px;
    font-weight: 700;
    color:black;
    margin-top: 50px;
}

