*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

.parent{
    height: 1000px;
    width: 1000px;
    background-color: wheat;
    display: grid;
      grid-template-columns: 100px 200px ; /* 2 colums  */
      grid-template-rows: 100px 100px 100px; /* 3 rows */

}

.child{
   /* height:300px; */
    background-color: red;
  border: 2px solid black; 
}