*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: antiquewhite;
}

html, body{
    width: 100%;
    height: 100%;;
}

body{
    background-color: darkgrey;
}

.parent{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

@media(min-width: 600px){
    .parent{
        width: 600px;
        height: 600px;
        background-color: blueviolet;
    }
}
