.Box{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    padding: 20px; 
    box-sizing: border-box;
    } 

/*p{
    border-width: 5px;
    border-color: #26ff00;
    border-style:solid;
    border-radius: 10px;
    } 

 .bg
 {
    height: 400px;;
    width: 500px;;
    background-image: url('https://images.unsplash.com/photo-1750593693963-94991e151e77?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170');
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); 
    background: radial-gradient(circle, rgb(0, 195, 255), green, rgb(255, 149, 0));
    box-shadow: 10px 10px 10px black;
 }   */

 @font-face {
    font-family: poppins;
    src: url(./Poppins-Light.ttf);
 }

 p{
    background-color: blueviolet;
    font-family:poppins;
 }