.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
    
}


.carousel img{
    height: 550px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.modal{
    border-radius: 20%;
}