*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    background-color: #f8f9fa;
    scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between; /* spaces items evenly */
  align-items: center; /* vertically centers items */
  padding: 15px 40px;
  background-color:  #ff5200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navmenu {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
nav a:hover{
    color:white
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.content{
    text-align: center;
    padding: 80px 20px;
    background-color: antiquewhite;
}

.content h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.content p{
    font-size: 1.1rem;
    color: #ff5200;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
}

.card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 280px;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translate(-8px);
}

.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3{
    font-size: 1.3rem;
    margin: 10px 0;
    color: #ff5200;
}

.card p{
    font-size: 0.95rem;
    color: black;
}

#contact{
    background-color:#ff5200;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    color: white;

}