*{
    padding: 0%;
    margin: 0%;
}

html, body{
width: 100%;
height: 100%

}

body{
    background-color: antiquewhite;
}

.card{
    border: 1px solid crimson;
    width: fit-content;
    display:flex;
    flex-direction: column;
    align-items:center;

    img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
//Here both img tag and h1 tag are writeen inside the card, bcoz card is the mothe rof both img and h1..also we can write outside
// as normal..this is for modualrity..and it will display in css as well

}

